//$green: #51718C;
//$red: #F29F80;
//$light_beige: #CBC5D9;
//$beige: #F2D49B;

//$green: #F25757;
//$red: #F2AA6B;
//$light_beige: #CBC5D9;
//$beige: #F2B6A0;

//$green: #2C3532;
//$red: #0F6466;
//$light_beige: #D2E8E3;
//$beige: #D8B08C;

$green: #1F4E5C;
$red: #945A65;
$light_beige: #D9C4BF;
$beige: #A6938F;

$logo-purple: #C1A6DC;
$background: #FFF4F4;
